@import "./variables";

.title {
    display: flex;
    justify-content: center;
    letter-spacing: 0.375rem;
    word-break: break-word;
    margin: auto;
    width: 5rem;
    color: $VeryDarkCyan;
    margin: 1.5625rem auto 1.5625rem auto;
}

.text {
    color: $DarkGrayishCyan;
    font-size: 0.8rem;
    margin-bottom: 0.3125rem;
}

.input {
    width: 100%;
    height: 2.5rem;
    border: none;
    border-radius: 0.375rem;
    font-size: 1.2rem;
    padding: 0.8125rem;
    // transition: all 0.25s ease-in-out;
}

.red-div {
    display: flex;
    justify-content: space-between;
    & > .red-text {
        color: red;
    }
}

.red-div-2 {
    display: flex;
    justify-content: space-between;
    & > .red-text {
        color: red;
    }
}


// .red-div {
//     width: 100%;
//     height: 2.5rem;
//     border: none;
//     border-radius: 0.375rem;
//     font-size: 1.2rem;
//     padding: 0.8125rem;
//     outline: 0.125rem solid red;
// }

// .red-div[type=text] {
//     direction: rtl;
//     font-weight: 700;
//     color: $VeryDarkCyan;
// }

// .red-div::placeholder {
//     font-weight: 700;
//     color: $GrayishCyan;
// }

.hidden {
    display: none;
}

.input:hover {
    outline: 0.125rem solid $StrongCyan;
}

.input:focus {
    outline: 0.125rem solid $StrongCyan;
}

.input[type=text] {
    direction: rtl;
    font-weight: 700;
    color: $VeryDarkCyan;
}

.input::placeholder {
    font-weight: 700;
    color: $GrayishCyan;
}

.bill-input {
    background: url("../images/icon-dollar.svg") no-repeat $VeryLightGrayishCyan 0.9375rem 0.625rem;   
}

.number-of-people-input {
    background: url("../images/icon-person.svg") no-repeat $VeryLightGrayishCyan 0.9375rem 0.625rem;   
}

.bill-amount {
    margin-bottom: 1.6rem;
}

.tip-selection {
    display: grid;
    grid-template-areas: 
    "title title"
    "five ten"
    "fifteen twentyFive"
    "fifty custom";
    gap: 0.625rem;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: min-content;
    margin-bottom: 1.6rem;
}

.tip {
    background-color: $VeryDarkCyan;
    text-align: center;
    color: $White;
    padding: 0.3125rem;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    border-radius: 0.375rem;
}

.tip:hover {
    background-color: $LightGrayishCyan;
    color: $VeryDarkCyan;
}

.focus {
    background-color: $StrongCyan;
    color: $VeryDarkCyan;
}

.custom {
    padding: 0;
    border-radius: 0.5625rem;
}

.custom-input {
    background-color: $VeryLightGrayishCyan ;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    padding: 0;
    padding-right: 1rem;
}

.custom-input::placeholder {
    font-size: 1.2rem;
    color: $VeryDarkCyan;
}

.tip-title {
    grid-area: title;
}

.five-percent {
    grid-area: five;
}

.ten-percent {
    grid-area: ten;
}


.fifteen-percent {
    grid-area: fifteen;
}

.twentyFive-percent {
    grid-area: twentyFive;
}

.fifty-percent {
    grid-area: fifty;
}

.custom {
    grid-area: custom;
}